<div class="ic-Layout-contentMain" role="main">
    <div class="show-content user_content clearfix enhanced">
        <h1>{{ titulo_curso }}</h1>

        <p>{{ descripcion_curso }}</p>

        <h2>Objetivo General</h2>
        <p>{{ objetivo_general }}</p>

        <table class="ic-Table ic-Table--condensed">
            <caption>Información del Curso</caption>
            <tbody>
                <tr>
                    <th scope="row">Área de conocimiento</th>
                    <td>{{ area_conocimiento }}</td>
                </tr>
                <tr>
                    <th scope="row">Duración</th>
                    <td>{{ duracion }}</td>
                </tr>
                <tr>
                    <th scope="row">Créditos</th>
                    <td>{{ creditos }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
